#scroll-to-top {
  width: 45px;
  height: 45px;
  background: #000 url(../image/scroll-up.png) center no-repeat;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 45px;
  cursor: pointer;
  color: #444;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE', EndColorStr='#99EEEEEE');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

#scroll-to-top:hover {
  opacity: 1;
  filter: Alpha(opacity=100); /* IE8 and earlier */
}
